@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .headerLinks{
        @apply
        cursor-pointer
        flex
        space-x-5
        text-gray-500
        hover:text-gray-400
        items-center
        hover:underline
    }

    .link {
        @apply 
        cursor-pointer 
        hover:underline;
      }

    .headerLinkIcon{
        @apply
        h-8
        lg:h-10
    }

    .basketCount{
        @apply
        absolute
        top-0
        right-0
        md:right-10
        h-5
        w-5
        mr-2
        bg-red-400
        text-center
        rounded-full
        text-white
        font-bold
    }

    .lowerHeaderLinks{
        @apply
        cursor-pointer
        flex
        items-center
        space-x-5
        text-gray-700
        hover:text-gray-600
        hover:underline
    }

    .lowerHeaderIcons{
        @apply
        h-8
        lg:h-10
    }

    .lowerHeaderTitle{
        @apply
        font-semibold
        text-base
        lg:text-lg
    }

    .productFeed{
        @apply 
        grid 
        grid-flow-row-dense 
        md:grid-cols-2 
        lg:grid-cols-3 
        xl:grid-cols-4 
        md:mt-[50px] 
        mx-auto;
      }

      .productImg{
        @apply
        h-96
        lg:h-[720px]
      }

      .category{
        @apply
        absolute
        top-2
        right-2
        text-xs
        md:text-base
        italic
        text-gray-400
        font-semibold
      }

      .button {
        @apply 
        p-2 
        text-xs 
        md:text-sm 
        bg-gradient-to-b from-yellow-200 to-yellow-400 border 
        border-yellow-300 
        rounded-sm focus:outline-none 
        focus:ring-2 
        focus:ring-yellow-500 
        active:from-yellow-500;
      }
}